#whywe {
    background-color: #191818;


    .title {
        letter-spacing: 6px;
        font-size: 30px;
        display: flex;
        padding-left: 5rem;
        padding-top: 90px;
        padding-bottom: 4rem;
        font-weight: 300;
        background-color: #f3ecec;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}



.maincontent {

    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;




    .why-wrapper {

        justify-content: center;
        align-items: center;
        display: flex;
        gap: 20px;
        flex-direction: column;
        height: 100%;
        width: calc(33.33333334% - 90px);
        padding: 20px;
        border-radius: 30px;
        transition: all 0.3s ease;
        background-color: #242424;



        &:hover {
            transform: scale(1.05);
        }

        // @media (max-width: 768px) {
        //     flex: 0 0 calc(100% - 20px); // Змінюємо розмір для мобільних пристроїв, 1 комірка в ряд
        // }

        .titlewhy {
            font-size: 1.5rem;
            color: #eaeaea;
            background-color: #242424;

        }

        p {
            font-size: 1rem;
            background-color: #242424;
            color: #c1bebe;
        }

        .emoji {
            font-size: 3rem;

        }

        .emogi {
            font-size: 3rem;

        }

        .emoji:hover {
            animation-name: wave-animation;
            animation-duration: 3.0s;
            animation-iteration-count: infinite;
            transform-origin: 70% 70%;
        }


        @keyframes wave-animation {
            0% {
                transform: rotate(0.0deg)
            }

            10% {
                transform: rotate(14.0deg)
            }

            20% {
                transform: rotate(-8.0deg)
            }

            30% {
                transform: rotate(14.0deg)
            }

            40% {
                transform: rotate(-4.0deg)
            }

            50% {
                transform: rotate(10.0deg)
            }

            60% {
                transform: rotate(0.0deg)
            }

            100% {
                transform: rotate(0.0deg)
            }



        }




    }
}



@media (max-width: 950.98px) {
    .maincontent {

        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;




        .why-wrapper {


            width: calc(40.2222223% - 10px);
            // flex: 0 0 calc(100% - 50px);



            &:hover {
                transform: scale(1.05);
            }

            @media (max-width: 768px) {
                flex: 0 0 calc(100% - 20px); // Змінюємо розмір для мобільних пристроїв, 1 комірка в ряд
            }

            .titlewhy {
                font-size: 1.5rem;
                color: #eaeaea;
                background-color: #242424;

            }

            p {
                font-size: 1rem;
                background-color: #242424;
                color: #c1bebe;
            }

            .emoji {
                font-size: 3rem;
                background-color: #242424;
            }

            .emogi {
                font-size: 3rem;
                background-color: #242424;
            }

            .emoji:hover {
                animation-name: wave-animation;
                animation-duration: 3.0s;
                animation-iteration-count: infinite;
                transform-origin: 70% 70%;
            }

            @keyframes wave-animation {
                0% {
                    transform: rotate(0.0deg)
                }

                10% {
                    transform: rotate(14.0deg)
                }

                20% {
                    transform: rotate(-8.0deg)
                }

                30% {
                    transform: rotate(14.0deg)
                }

                40% {
                    transform: rotate(-4.0deg)
                }

                50% {
                    transform: rotate(10.0deg)
                }

                60% {
                    transform: rotate(0.0deg)
                }

                100% {
                    transform: rotate(0.0deg)
                }



            }



        }
    }
}

@media (max-width: 768.98px) {
    .title {
        letter-spacing: 6px;
        font-size: 20px;
        display: flex;
        margin-left: 3rem;
        margin-top: 90px;
        padding-bottom: 3rem;
        font-weight: 300;
        background: #f3eeeb;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .maincontent {
        .why-wrapper {

            flex: 0 0 calc(100% - 80px);
            // width: calc(40.2222223% - 10px);


        }
    }
}