.brief {
    padding: 1rem 3rem;
    height: auto;
    background-color: #303030;


    display: flex;
    justify-content: space-around;


    .left {
        padding: 0 2rem;
        display: flex;
        flex: 1;
        flex-direction: column;




        .desc {
            padding: 6rem 0;
            display: flex;
            flex-direction: column;
            gap: 30px;




            .b-title {
                font-weight: 500;

            }

            .b-subtitle {

                font-weight: 400;

            }

            .lorem {
                font-style: italic;
                font-weight: 200;



            }




        }

        .b-btn {
            margin-bottom: 3rem;

        }


    }

    .right {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        .wing {

            width: 200px;
            height: 200px;

        }

    }

    .right {
        display: flex;

        text-align: center;
        align-items: center;
        justify-content: center;

        .email {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 500px;
        }

    }
}

@media (max-width: 968.98px) {
    .brief {
        padding-top: 15px;
        padding-left: 1px;
        background-color: #303030;
        gap: 20px;
        justify-content: center;




        .left {



            .desc {
                padding-top: 3rem;
                display: flex;
                flex-direction: column;
                gap: 30px;


                .b-title {
                    font-weight: 500;

                }

                .b-subtitle {

                    font-weight: 400;
                    font-size: 19px;

                }

                .lorem {

                    font-weight: 200;
                    font-style: italic;

                }



            }

            .b-btn {
                margin-bottom: 3rem;

            }


        }

        .right {
            display: flex;
            flex: 1;
            text-align: center;
            align-items: center;
            justify-content: center;

            .email {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }
    }
}

@media (max-width: 838.98px) {
    .brief {
        padding-top: 1px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        text-align: center;

        .left {


            .desc {

                .b-title {}

                .b-subtitle {}

                .lorem {}



            }

            .b-btn {}


        }

        .right {


            .email {

                width: 400px;
            }

        }


    }
}

@media (max-width: 638.98px) {
    .brief {
        padding-left: 20px;
        padding-right: 20px;

        .rectangable {



            .desc {



                .b-title {
                    font-size: 20px;
                }

                .b-subtitle {}

                .lorem {
                    width: 400px;
                    font-size: 17px;
                }



            }

            .b-btn {}





        }
    }
}

@media (max-width: 398.98px) {
    .brief {
        padding-top: 1px;

        .left {
            width: 100%;
            // padding-left: 10px;
            // padding-right: 20px;

            .desc {
                padding-top: 1px;

                .b-title {
                    font-size: 20px;
                }

                .b-subtitle {
                    font-size: 18px;
                }

                .lorem {

                    font-size: 15px;
                }



            }

            .b-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;

                .btn {
                    font-size: 11px;
                }
            }





        }

        .right {


            .email {
                width: 200px;
                height: 200px;

            }
        }
    }
}

@media (max-width: 350.98px) {
    .brief {

        text-align: center;

        .left {
            width: 100%;
            display: flex;
            text-align: center;
            justify-content: center;


            .desc {

                .b-title {
                    font-size: 15px;

                }

                .b-subtitle {

                    font-size: 15px;


                }

                .lorem {

                    font-size: 13px;



                }




            }

            .b-btn {


                .btn {
                    padding: 4px 6px;
                    font-size: 10px;
                }
            }




        }






    }
}

@media (max-width: 310.98px) {
    .brief {

        .left {

            display: flex;
            text-align: center;

            .desc {

                .b-title {
                    padding-top: 19px;
                    font-size: 15px;

                }

                .b-subtitle {

                    font-size: 15px;


                }

                .lorem {

                    display: none;



                }




            }

            .b-btn {


                .btn {
                    padding: 4px 6px;
                    font-size: 10px;
                }
            }




        }

        .right {
            display: none;
        }


    }
}