.leadmagnet {
    position: fixed;
    bottom: 40px;
    right: 30px;
    margin-left: 20px;
    background-color: #333333d5;
    padding: 20px;
    border: 1px solid #666;
    border-radius: 40px;
    display: flex;
    align-items: center;
    color: #fff;
    z-index: 3;
    font-weight: 800;
    text-align: center;


    .btn {
        padding: 10px 5px;
        letter-spacing: normal;
        font-size: 12px;
    }
}


.close-button {
    background-color: #666;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #444;
}