#social {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191818;
    padding-top: 4rem;
    padding-bottom: 6rem;

    .icons-s {
        display: flex;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);


    }

    .icon:hover {
        animation-name: wave-animation;
        animation-duration: 3.0s;
        animation-iteration-count: infinite;
        transform-origin: 70% 70%;
    }

    @keyframes wave-animation {
        0% {
            transform: rotate(0.0deg)
        }

        10% {
            transform: rotate(14.0deg)
        }

        20% {
            transform: rotate(-8.0deg)
        }

        30% {
            transform: rotate(14.0deg)
        }

        40% {
            transform: rotate(-4.0deg)
        }

        50% {
            transform: rotate(10.0deg)
        }

        60% {
            transform: rotate(0.0deg)
        }

        100% {
            transform: rotate(0.0deg)
        }



    }
}







@media (max-width: 449.98px) {
    .icons-s {
        display: grid;
        grid-template-columns: repeat(2, 2fr);

        .icon {
            width: 30px;
        }
    }
}

@media (max-width: 358.98px) {

    #social {
        padding-top: 10px;

        .icons-s {
            display: grid;
            grid-template-columns: repeat(2, 2fr);

            .icon {
                width: 30px;

            }
        }
    }
}