.social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    background-color: #191818;

    .icons-s {
        display: flex;
        gap: 30px;


    }

    .icons-s:hover {
        animation: wiggle 2s linear infinite;
    }


}

@media (max-width: 360.98px) {

    .social {

        .icons-s {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;


        }
    }

    .icon {
        width: 40px;
        height: 40px;

    }
}