#contact {
    background-color: #191818;
    padding-top: 4rem;
    width: 100%;

    .container {
        padding: 5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;

        .leftside {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .desc {
                padding: 0 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                gap: 30px;


                .contact-title {
                    font-weight: 600;
                    font-size: 28px;
                }

                .text {
                    font-weight: 400;
                    width: 60%;
                    font-size: 20px;
                }
            }
        }

        .rightside {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;

            .rect {
                opacity: 80%;
                background-color: #1c1b1b;
                width: 500px;
                height: 500px;
                text-align: center;
                display: flex;
                border: 1px solid rgb(255, 255, 255);
                border-radius: 10px;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 50px;

                .mess {
                    font-size: 20px;
                    font-weight: 500;
                    color: #fff;
                    font-style: italic;

                    .icons-s {
                        align-items: center;
                        justify-content: center;
                        display: flex;
                        padding-top: 30px;

                        .social-btn {
                            width: 55px;
                            height: 55px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 2px solid rgba(255, 251, 251, 0.24);
                            border-radius: 50%;
                            cursor: pointer;
                        }

                        .social-btn:hover {
                            background-color: #545252;
                        }
                    }
                }


                .contact-form {
                    width: 65%;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;

                    label {
                        font-size: 19px;
                        font-weight: 300;
                    }

                    input {
                        margin-top: 5px;
                        gap: 10px;
                        width: 100%;
                        height: 40px;
                        padding: 20px;
                        outline: none;
                        border-radius: 10px;
                        margin-bottom: 23px;
                        background-color: #272626;
                        color: #fff;
                        border: 2px solid #2f2e2e;
                    }

                    input::placeholder {
                        letter-spacing: 1.5px;
                        opacity: 0.5;
                        color: rgb(255, 255, 255);
                    }

                    .btn-contact {
                        margin-top: 15px;
                        padding: 15px 30px;
                        text-align: center;
                        text-transform: uppercase;
                        transition: 0.5s;
                        background-size: 200% auto;
                        color: white;
                        border-radius: 10px;
                        display: block;
                        border: 0px;
                        font-weight: 700;
                        box-shadow: 0px 0px 14px -7px #292928;
                        background-image: linear-gradient(45deg, #211f1e 0%, #64625f 51%, #3d3b3a 100%);
                        cursor: pointer;
                        user-select: none;
                        -webkit-user-select: none;
                        touch-action: manipulation;
                    }

                    .btn-contact:hover {
                        background-position: right center;
                        color: #fff;
                        text-decoration: none;
                    }

                    .btn-contact:active {
                        transform: scale(0.95);
                    }
                }
            }
        }
    }
}

@media (max-width: 1024.98px) {
    #contact {

        .container {
            width: 100%;
            height: auto;
            flex-direction: column;
            padding: 4rem 2rem;

            .leftside {

                padding-bottom: 2rem;

                .desc {

                    .contact-title {
                        font-size: 25px;
                    }

                    .text {
                        font-weight: 300;
                    }
                }
            }

            .rightside {
                gap: 10px;

                .rect {
                    gap: 20px;

                    .mess {
                        font-size: 19px;

                        .icons-s {
                            padding-bottom: 10px;
                        }
                    }

                    .contact-form {
                        width: 70%;

                        label {
                            font-size: 17px;
                            font-weight: 400;
                        }

                        input {
                            margin-top: 7px;
                            width: 100%;
                            height: 60px;
                            border-radius: 20px;
                            margin-bottom: 13px;
                        }

                        input::placeholder {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 410.98px) {
    #contact {

        .container {

            .leftside {

                .desc {

                    .contact-title {
                        font-size: 19px;
                    }

                    .text {
                        text-align: center;
                        padding-bottom: 1px;
                        width: auto;
                        font-size: 15px;
                    }
                }
            }

            .rightside {

                .rect {
                    gap: 30px;

                    .mess {
                        font-size: 17px;
                        padding: 10px;

                        .icons-s {
                            width: 200px;
                            gap: 10px;

                            .social-btn {
                                width: 40px;
                                height: 40px;

                                .icon {
                                    width: 20px;
                                }
                            }
                        }
                    }

                    .contact-form {

                        label {
                            font-size: 13px;
                        }

                        input {
                            margin-top: 3px;
                            height: 30px;
                        }

                        input::placeholder {
                            font-size: 12.5px;
                        }

                        .btn-contact {
                            margin-top: 15px;
                            padding: 10px 20px;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}