#contact {
    background-color: #191818;
    padding-top: 4rem;
    width: 100%;


    .container {
        padding: 5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;


        .leftside {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .desc {
                padding: 0 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                gap: 30px;


                .contact-title {
                    font-weight: 600;
                    font-size: 28px;
                }

                .text {
                    font-weight: 400;
                    width: 60%;
                    font-size: 20px;



                }
            }


        }

        .rightside {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;



            .rect {
                opacity: 80%;
                background-color: #1c1b1b;
                width: 500px;
                height: 500px;
                text-align: center;
                display: flex;
                border: 1px solid rgb(255, 255, 255);
                border-radius: 10px;
            }


            .type {

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 50px;

                .mess {
                    font-size: 20px;
                    font-weight: 500;
                    color: #fff;
                    font-style: italic;

                }

                .icons-s {
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    padding-top: 30px;


                }

                .social-btn {
                    width: 55px;
                    height: 55px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid rgba(255, 251, 251, 0.24);
                    border-radius: 50%;
                    cursor: pointer;
                    transition: 0.2s;

                }

                .social-btn:hover {
                    background-color: #2c2b2b;
                    transform: translateY(10px);

                }



                .contact-form {
                    width: 65%;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;

                    label {
                        font-size: 19px;
                        font-weight: 300;
                    }

                    input {
                        margin-top: 5px;
                        gap: 10px;
                        width: 100%;
                        height: 40px;
                        padding: 20px;
                        outline: none;
                        border-radius: 10px;
                        margin-bottom: 23px;
                        background-color: #272626;
                        color: #fff;
                        border: 2px solid #2f2e2e;
                        // background: url('../../../public/assets/telega.png');

                    }

                    input::placeholder {
                        letter-spacing: 1.5px;
                        opacity: 0.5;
                        color: rgb(255, 255, 255);
                    }

                    .btn {
                        margin-top: 20px;
                        padding: 10px 20px;
                        font-size: 15px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024.98px) {
    #contact {
        .container {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            padding: 4rem 2rem;

            .leftside {

                padding-bottom: 2rem;

                .desc {

                    .contact-title {
                        font-weight: 600;
                        font-size: 25px;

                    }

                    .text {

                        font-weight: 300;

                    }
                }


            }

            .rightside {
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .type {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 20px;

                    .mess {
                        font-size: 19px;

                    }

                    .icons-s {
                        padding-bottom: 10px;
                    }

                    .contact-form {
                        width: 70%;


                        label {
                            font-size: 17px;
                            font-weight: 400;
                        }

                        input {
                            margin-top: 7px;
                            gap: 10px;
                            width: 100%;
                            height: 60px;
                            padding: 20px;
                            outline: none;
                            border-radius: 20px;
                            margin-bottom: 13px;

                        }

                        .btn {
                            margin-top: 20px;
                            padding: 10px 20px;
                            font-size: 15px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 400.98px) {
    #contact {

        .container {


            .leftside {


                .desc {


                    .contact-title {
                        font-size: 19px;
                    }


                    .text {
                        text-align: center;
                        padding-bottom: 1px;
                        font-weight: 300;
                        width: auto;
                        font-size: 15px;

                    }

                }

                .icons-s {

                    .icon {}
                }
            }


            .rightside {
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
                gap: 10px;


                .rect {}


                .type {


                    gap: 30px;

                    .mess {
                        font-size: 17px;


                    }

                    .icons-s {
                        align-items: center;
                        justify-content: center;
                        display: flex;
                        padding-top: 30px;
                        width: 200px;
                        gap: 10px;


                    }

                    .social-btn {
                        width: 40px;
                        height: 40px;

                        .icon {
                            width: 20px;
                        }

                    }


                    .contact-form {


                        label {
                            font-size: 13px;
                            font-weight: 400;
                        }

                        input {
                            margin-top: 3px;
                            gap: 10px;
                            width: 100%;
                            height: 30px;



                        }

                        input::placeholder {
                            font-size: 10px;
                        }

                        .btn {

                            margin-top: 20px;
                            padding: 10px 29px;
                            font-size: 10px;
                            font-weight: 500;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    }
}