.question {
    background-color: #191818;
}



.faq-row-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: #191818;

    .faq-title {
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
        color: rgb(248, 248, 248);


    }

    .faq-body {
        display: grid;
        gap: 4rem;
        grid-template-columns: repeat(2, minmax(0, 2fr));

        .faq-row {

            .row-title {
                font-size: 20px;
            }



            .row-content {
                font-size: 20px;

                .row-content-text {
                    font-size: 16px;
                    color: #a5a3a3;
                    padding-left: 30px;
                    font-weight: 200;
                    padding: 10px 10px 10px 30px;
                }


            }


        }

    }
}


@media (max-width: 698.98px) {
    .faq-row-wrapper {

        .faq-title {

            h2 {
                font-size: 30px;
            }
        }

        .faq-body {
            grid-template-columns: repeat(1, minmax(0, 4fr));

            .faq-row {

                .row-title {
                    font-size: 15px;
                }

                .row-content {
                    font-size: 10px;

                    .row-content-text {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}