.navbars {
    padding: 0 30px;
    width: 100vw;
    background: #191818;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-img {
        width: 150px;
        height: 152px;
    }

    .nav-links {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 40px;

        li {
            list-style: none;
            text-decoration: none;

            a {
                text-decoration: none;
                color: rgb(232, 231, 231);

                font-size: 20px;
                text-transform: uppercase;
            }

            a:hover {
                transform: scale(1.3);
                transition: 1s ease-out;
            }
        }
    }

    .nav-item:hover {
        transform: scale(1.3);
        transition: 1s ease-out;
    }
}

@media (max-width: 1100.98px) {
    .navbars {
        .nav-links {
            gap: 17px;

            li a {
                font-size: 17px;
            }
        }
    }
}

@media (max-width: 1024.98px) {
    .navbars {
        padding: 0 20px;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .menu-togle {
            cursor: pointer;

            .hamBox {
                position: relative;
                width: 44px;
                height: 44px;
                cursor: pointer;
                border-radius: 50%;
                transition: 0.3s ease;
                padding: 2.4em;
            }

            .hambox:hover {
                background: #2c2b2b;
            }

            .hamBoxOpen {
                background: #2c2b2b;
            }

            .lineTop,
            .lineBottom {
                margin: 0 auto;
                position: absolute;
                display: block;
                width: 24px;
                height: 2px;
                border-radius: 10px;
                background: #858383;
                left: 0;
                right: 0;
                transform: rotate(0deg);
                transition: all 0.4s;
            }

            .lineTop {
                top: 2.2em;
            }

            .lineBottom {
                bottom: 2.2em;
            }

            .lineTop .spin {
                top: 2.35em;
                transform: rotate(225deg);
                background: #2c2b2b;
            }
        }


        .nav-overlay {
            position: fixed;
            background-color: #191818;
            z-index: -5;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100vh;
            padding: 4em;
            overflow: hidden;
            transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);


            ul.nav-links {
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                li a {
                    background-color: #191818;
                    text-decoration: none;
                    color: #fff;
                    font-size: 2em;
                    position: relative;
                    top: 0;
                    transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
                }
            }
        }
    }
}

@media (max-width: 679.98px) {
    .navbars {
        z-index: 4;

        .nav-overlay {

            ul.nav-links {

                li a {

                    transition: none;
                }
            }
        }
    }

    ul.nav-links {
        position: absolute;
        top: 60%;
        text-align: center;
        font-size: 10px;
        gap: 20px;
    }
}